@mixin button($text-color, $primaire-color, $secondaire-color) {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border:0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient($primaire-color, $secondaire-color);
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
        filter: brightness(115%); //permet d'Éclaircir le bouton
        box-shadow: 0px 4px 15px 0px #00000059;

    }
  
    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }

  @mixin coeur($primaire-color, $secondaire-color){

    position:relative; //Pour donner la position relative au parents


    .fa-solid.fa-heart, .fa-regular.fa-heart{
      position:absolute;
      top: 50%;
      right: 50%;
      margin-right: 10px;
      transform: translate(-50%, -50%);
      font-size: 21px;

    }

    .fa-solid.fa-heart{
      opacity: 0;
      background: linear-gradient($primaire-color, $secondaire-color);
      background-clip: text;  // Ces propriétés définissent la zone où l'arrière-plan du dégradé sera visible comme étant le texte lui-même. Cela crée l'effet de remplissage du texte avec un dégradé de couleur.
      -webkit-background-clip: text;  //Car les icone sont considere comme du text
      color: transparent; // Rend la couleur du texte transparente pour permettre au dégradé de se montrer.
      transition: all 400ms; //delais du remplissage
    }
    
    .fa-solid.fa-heart:hover{
        opacity: 1;
    }
  }


  @mixin nouveauArticle($tertiare-color,$color-Text){
    position: relative;

  .nouveauArticle{
      position: absolute;
      top: 13px;
      right: 13px;
      background-color: $tertiare-color;
      color:$color-Text;
      height: 29px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;

      @media (min-width: 1024px) {
        top: 30px;
        right: 30px;

    }

  }
}