@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
body, p, h2, h3, h5, ul {
  margin: 0px;
}

.iconeCoeur {
  position: relative;
}
.iconeCoeur .fa-regular.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
}
.iconeCoeur .fa-solid.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.iconeCoeur .fa-solid.fa-heart:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; /* Utiliser la couleur héritée du parent */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* loader est en avant-plan */
  opacity: 1; /* Le loader-container est complètement visible au départ */
  animation: hideLoaderContainer 5s forwards; /* Animation pour masquer le loader-container après 5 secondes */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF79DA;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Animation pour masquer le loader-container après 5 secondes (délai de 3 secondes + durée de l'animation 2 secondes) */
@keyframes hideLoaderContainer {
  0% {
    opacity: 1;
  } /* À 0%, le loader-container est complètement visible */
  60% {
    opacity: 1;
  } /* Maintenir l'opacité à 1 pendant les 3 premières secondes */
  100% {
    opacity: 0;
    pointer-events: none;
  } /* Réduit l'opacité à 0 et empêche les interactions avec le loader-container */
}
header {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header .logoOhmyfood img {
  height: 44px;
  width: 162px;
}

body, p, h2, h3, h5, ul {
  margin: 0px;
}

.iconeCoeur {
  position: relative;
}
.iconeCoeur .fa-regular.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
}
.iconeCoeur .fa-solid.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.iconeCoeur .fa-solid.fa-heart:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; /* Utiliser la couleur héritée du parent */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* loader est en avant-plan */
  opacity: 1; /* Le loader-container est complètement visible au départ */
  animation: hideLoaderContainer 5s forwards; /* Animation pour masquer le loader-container après 5 secondes */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF79DA;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Animation pour masquer le loader-container après 5 secondes (délai de 3 secondes + durée de l'animation 2 secondes) */
@keyframes hideLoaderContainer {
  0% {
    opacity: 1;
  } /* À 0%, le loader-container est complètement visible */
  60% {
    opacity: 1;
  } /* Maintenir l'opacité à 1 pendant les 3 premières secondes */
  100% {
    opacity: 0;
    pointer-events: none;
  } /* Réduit l'opacité à 0 et empêche les interactions avec le loader-container */
}
footer {
  background-color: #353535;
  color: white;
  padding: 20px 10px;
}
footer .listFooter {
  padding: 0px;
}
@media (min-width: 1024px) {
  footer .listFooter {
    display: flex;
    justify-content: end;
  }
}
footer .listFooter li {
  list-style-type: none;
  margin: 5px 0px;
}
@media (min-width: 1024px) {
  footer .listFooter li {
    margin: 20 10px;
    order: 1;
  }
}
footer .listFooter .titreFooter {
  font-size: 16px;
  font-family: "Shrikhand", sans-serif;
  margin: 20 0;
}
@media (min-width: 1024px) {
  footer .listFooter .titreFooter {
    order: 2;
    margin: 20 10 0 50;
  }
}

main .localisation {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
main .localisation .iconeAdresse i {
  height: 16px;
  margin: 5px;
}
main .localisation .iconeAdresse input {
  margin: 5px;
  font-size: 16px;
  border: 0px;
  width: 120px;
  background-color: #EAEAEA;
}
main .explorationMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
}
main .explorationMenu h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  margin: 30px 30px 5px 30px;
}
main .explorationMenu p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 5px 30px 30px 30px;
}
main .explorationMenu .boutonExplorer {
  display: flex;
  justify-content: center;
  margin: 0 0 30 0;
}
main .explorationMenu .boutonExplorer button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  text-decoration: none;
  cursor: pointer;
}
main .explorationMenu .boutonExplorer button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
main .explorationMenu .boutonExplorer button:focus, main .explorationMenu .boutonExplorer button:active {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
main .fonctionnement {
  margin: 40px 15px;
}
@media (min-width: 1024px) {
  main .fonctionnement {
    margin: 40px 180px;
  }
}
main .fonctionnement .divEtapeFonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  main .fonctionnement .divEtapeFonctionnement {
    flex-direction: row;
  }
}
main .fonctionnement .etapeFonctionnement {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  height: 72px;
  margin: 20px;
}
@media (min-width: 1024px) {
  main .fonctionnement .etapeFonctionnement {
    margin: 40px 50px;
    width: 33.3%;
  }
}
main .fonctionnement .etapeFonctionnement .numeroEtapeFonctionnement {
  position: absolute;
  z-index: 2;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone {
  position: relative;
  z-index: 1; /* Valeur de z-index pour l'élément */
  width: 100%;
  height: 100%;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #F6F6F6;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone p {
  margin: 0 10;
  font-size: 16px;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone i {
  margin-left: 20px;
  color: #9356DC;
}
main .sectionRestaurants {
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  main .sectionRestaurants {
    padding: 40px 180px;
  }
}
main .sectionRestaurants h2 {
  padding: 40px 15px 0px 15px;
  margin: 0px;
}
@media (min-width: 1024px) {
  main .sectionRestaurants h2 {
    padding: 0px 0px 0px 0px;
  }
}
main .sectionRestaurants .cardRestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  main .sectionRestaurants .cardRestaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
main .sectionRestaurants .cardRestaurants .card {
  height: 251px;
  width: 70%;
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
@media (min-width: 1024px) {
  main .sectionRestaurants .cardRestaurants .card {
    width: 45%;
    margin: 20px 0px;
  }
}
main .sectionRestaurants .cardRestaurants .card .nouveauArticle {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #99E2D0;
  color: #008766;
  height: 29px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
main .sectionRestaurants .cardRestaurants .card img {
  height: 75%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sectionRestaurants .cardRestaurants .card .cardContent {
  height: 25%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  width: 100%;
}
main .sectionRestaurants .cardRestaurants .card .cardContent .cardTxt {
  width: 100%;
}

/* Styles pour le loader *//*# sourceMappingURL=index.css.map */