@charset "UTF-8";
body, p, h2, h3 {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header .logoOhmyfood img {
  height: 44px;
  width: 162px;
}

main .localisation {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
main .localisation .iconeAdresse i {
  height: 16px;
  margin: 5px;
}
main .localisation .iconeAdresse input {
  margin: 5px;
  font-size: 16px;
  border: 0px;
  width: 120px;
  background-color: #EAEAEA;
}
main .explorationMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
}
main .explorationMenu h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  margin: 30px 30px 5px 30px;
}
main .explorationMenu p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 5px 30px 30px 30px;
}
main .explorationMenu .boutonExplorer {
  display: flex;
  justify-content: center;
  margin: 0 0 30 0;
}
main .explorationMenu .boutonExplorer button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  text-decoration: none;
  cursor: pointer;
}
main .explorationMenu .boutonExplorer button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
main .explorationMenu .boutonExplorer button:focus, main .explorationMenu .boutonExplorer button:active {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
main .fonctionnement {
  margin: 40px 15px;
}
main .fonctionnement .divEtapeFonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .fonctionnement .etapeFonctionnement {
  position: relative;
  display: flex;
  align-items: center;
  width: 322px;
  height: 72px;
  margin: 20px;
}
main .fonctionnement .etapeFonctionnement .numeroEtapeFonctionnement {
  position: absolute;
  z-index: 2;
  background-color: #9356DC;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone {
  position: relative;
  z-index: 1; /* Valeur de z-index pour l'élément */
  width: 100%;
  height: 100%;
  margin: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone p {
  margin-left: 30px;
  font-size: 16px;
}
main .fonctionnement .etapeFonctionnement .etapeFonctionnementTexteIcone i {
  margin-left: 30px;
  color: #9356DC;
}
main .sectionRestaurants {
  background-color: #F6F6F6;
}
main .sectionRestaurants h2 {
  padding: 40px 15px 0px 15px;
  margin: 0px;
}
main .sectionRestaurants .cardRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .sectionRestaurants .cardRestaurants .card {
  height: 251px;
  width: 340px;
  min-width: 340px;
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
}
main .sectionRestaurants .cardRestaurants .card img {
  height: 75%;
  width: 100%;
  border-radius: 10px;
}
main .sectionRestaurants .cardRestaurants .card .cardContent {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
main .sectionRestaurants .cardRestaurants .card .cardContent .iconeCoeur i {
  color: red;
}/*# sourceMappingURL=index.css.map */