@import 'style';
@import 'header';
@import 'footer';


main{

    .localisation{
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$backgroundAdresse;

        .iconeAdresse i{
            height:16px;
            margin:5px;
        }
        .iconeAdresse input{
            margin:5px;
            font-size: 16px;
            border: 0px;
            width: 120px;
            background-color: $backgroundAdresse;
        }
    }

    .explorationMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $backgroundSection;

        h2{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 24px;
            margin: 30px 30px 5px 30px;
        }

        p{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            margin: 5px 30px 30px 30px;
        }
        .boutonExplorer
        {
            display: flex;
            justify-content: center;
            margin: 0 0 30 0;
            button{
                @include button($backgroundBase, $primaire-color,$secondaire-color);
            }
        }
    }

    .fonctionnement{
        margin:40px 15px;

        @media (min-width: 1024px) {
            margin: 40px 180px;

        }




        .divEtapeFonctionnement{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media (min-width: 1024px) {
                flex-direction:row;
            }

        }

        .etapeFonctionnement{
            position: relative;
            display: flex;
            align-items: center;
            width: 70%;
            height: 72px;
            margin: 20px;

            @media (min-width: 1024px) {
                margin: 40px 0px;
                width: 33.3%;
    
            }


            .numeroEtapeFonctionnement{
                position:absolute;
                z-index: 2;
                background-color: $primaire-color;
                color:$backgroundBase;
                width: 24px;
                height: 24px;
                border-radius: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .etapeFonctionnementTexteIcone{
                position: relative;
                z-index: 1; /* Valeur de z-index pour l'élément */
                width: 100%;
                height: 100%;
                margin:0 12px; //Pour etre au centre du numero car 24/2 = 12

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color: $backgroundSection;

    
                p{
                    margin: 0 10;
                    font-size: 16px;
         
                }

                i{
                    margin: 20px;
                    color: $primaire-color;
                }
    
            }
    
        }

    }

    .sectionRestaurants{

        background-color: $backgroundSection;
        @media (min-width: 1024px) {
            padding: 40px 180px;

        }


        h2{
            padding:40px 15px 0px 15px;
            margin:0px;

            @media (min-width: 1024px) {
                padding:0px 0px 0px 0px;

            }
        }

        .cardRestaurants{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media (min-width: 1024px) {
                flex-direction:row;
                flex-wrap: wrap;
                justify-content: space-between;
            }


            .card{

                height: 251px;
                width: 70%;
                margin:20px;
                border-radius: 15px;
                background-color:$backgroundBase;

                @media (min-width: 1024px) {
                    width:45%;
                    margin:20px 0px;
                }
               
                @include nouveauArticle($tertiare-color,$tertiare-color-font); //Si seulement c'est un nouveau articles
            
                img{
                    height: 75%;
                    width: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            
                .cardContent{
                  height: 25%;
                  display:flex;
                  align-items: center;
                  
                  width: 100%;

                  .cardTxt{
                    margin: 0px 20px;
                    width: 100%;
                                  
                  }
            
                }
            }            
        }        
    }


}

/* Styles pour le loader */
  