@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
body, p, h2, h3, h5, ul {
  margin: 0px;
}

.iconeCoeur {
  position: relative;
}
.iconeCoeur .fa-regular.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
}
.iconeCoeur .fa-solid.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.iconeCoeur .fa-solid.fa-heart:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; /* Utiliser la couleur héritée du parent */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* loader est en avant-plan */
  opacity: 1; /* Le loader-container est complètement visible au départ */
  animation: hideLoaderContainer 5s forwards; /* Animation pour masquer le loader-container après 5 secondes */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF79DA;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Animation pour masquer le loader-container après 5 secondes (délai de 3 secondes + durée de l'animation 2 secondes) */
@keyframes hideLoaderContainer {
  0% {
    opacity: 1;
  } /* À 0%, le loader-container est complètement visible */
  60% {
    opacity: 1;
  } /* Maintenir l'opacité à 1 pendant les 3 premières secondes */
  100% {
    opacity: 0;
    pointer-events: none;
  } /* Réduit l'opacité à 0 et empêche les interactions avec le loader-container */
}
header {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header .logoOhmyfood img {
  height: 44px;
  width: 162px;
}

body, p, h2, h3, h5, ul {
  margin: 0px;
}

.iconeCoeur {
  position: relative;
}
.iconeCoeur .fa-regular.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
}
.iconeCoeur .fa-solid.fa-heart {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  font-size: 21px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.iconeCoeur .fa-solid.fa-heart:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; /* Utiliser la couleur héritée du parent */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* loader est en avant-plan */
  opacity: 1; /* Le loader-container est complètement visible au départ */
  animation: hideLoaderContainer 5s forwards; /* Animation pour masquer le loader-container après 5 secondes */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #FF79DA;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Animation pour masquer le loader-container après 5 secondes (délai de 3 secondes + durée de l'animation 2 secondes) */
@keyframes hideLoaderContainer {
  0% {
    opacity: 1;
  } /* À 0%, le loader-container est complètement visible */
  60% {
    opacity: 1;
  } /* Maintenir l'opacité à 1 pendant les 3 premières secondes */
  100% {
    opacity: 0;
    pointer-events: none;
  } /* Réduit l'opacité à 0 et empêche les interactions avec le loader-container */
}
footer {
  background-color: #353535;
  color: white;
  padding: 20px 10px;
}
footer .listFooter {
  padding: 0px;
}
@media (min-width: 1024px) {
  footer .listFooter {
    display: flex;
    justify-content: end;
  }
}
footer .listFooter li {
  list-style-type: none;
  margin: 5px 10px;
}
@media (min-width: 1024px) {
  footer .listFooter li {
    margin: 20 10px;
    order: 1;
  }
}
footer .listFooter .titreFooter {
  font-size: 16px;
  font-family: "Shrikhand", sans-serif;
  margin: 20 0;
}
@media (min-width: 1024px) {
  footer .listFooter .titreFooter {
    order: 2;
    margin: 20 10 0 50;
  }
}

header {
  align-items: center;
  position: relative;
}
header .logoFlecheGauche {
  position: absolute;
  left: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .imageRestaurant {
  position: relative;
  margin-bottom: -30px;
  z-index: 1;
  width: 100%;
}
main .imageRestaurant img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .restaurantMenu {
  position: relative;
  border-radius: 20px;
  z-index: 2;
  background-color: #F6F6F6;
  width: 100%;
  max-width: 1055px;
}
main .restaurantMenu .restaurantCoeur {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .restaurantMenu .restaurantCoeur h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
main .restaurantMenu .restaurantCoeur .iconeCoeur {
  margin-left: 60px;
  margin-right: 0px;
}
main .restaurantMenu .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
main .restaurantMenu .menu .sectionMenu {
  width: 100%;
  max-width: 644px;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeInGroup 1s forwards;
}
@keyframes fadeInGroup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .restaurantMenu .menu .sectionMenu .sectionTitre {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
}
main .restaurantMenu .menu .sectionMenu .sectionTitre h4 {
  flex-basis: 100%;
  font-size: 16px;
  width: 10%;
  margin: 0;
}
main .restaurantMenu .menu .sectionMenu .sectionTitre hr {
  width: 50%;
  background-color: #99E2D0;
  height: 3px;
  margin: 5px 0px;
  border: 0px;
}
main .restaurantMenu .menu .sectionMenu .articleMenu {
  position: relative;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 20px 10px;
  border-radius: 15px;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: width 0.5s ease-in-out;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuText {
  overflow: hidden;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuText h5, main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuText p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuText h5 {
  font-size: 18px;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuText p {
  font-size: 15px;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuInfo .menuPrix {
  font-size: 15px;
  font-weight: 700;
}
main .restaurantMenu .menu .sectionMenu .articleMenu .menuConfirmation {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  background-color: #99E2D0;
  width: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  transition: width 0.5s ease-in-out;
}
main .restaurantMenu .menu .sectionMenu .articleMenu:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
main .restaurantMenu .menu .sectionMenu .articleMenu:hover .menuInfo {
  width: calc(100% - 70px);
}
main .restaurantMenu .menu .sectionMenu .articleMenu:hover .menuConfirmation {
  display: flex;
  opacity: 1;
  width: 70px;
}
main .restaurantMenu .menu .sectionMenu .articleMenu:hover .menuConfirmation .fa-solid.fa-circle-check {
  color: white;
  animation: rotateIcon 0.8s linear;
}
@keyframes rotateIcon {
  from {
    transform: rotate(0deg); /* Rotation initiale à 0 degrés */
  }
  to {
    transform: rotate(360deg); /* Rotation complète à 360 degrés */
  }
}
main .restaurantMenu .boutonCommander button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  text-decoration: none;
  cursor: pointer;
}
main .restaurantMenu .boutonCommander button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
main .restaurantMenu .boutonCommander button:focus, main .restaurantMenu .boutonCommander button:active {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=restaurant.css.map */