@import 'variables';
@import 'classes';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand');


body,p,h2,h3,h5,ul{
    margin:0px;
}

body{
  font-family: Roboto, sans-serif;
}

.iconeCoeur{
    @include coeur($primaire-color,$secondaire-color);   //*Ci joint le code html a l'endroit ou vous voulez un coeur <div class="iconeCoeur"><i class="fa-regular fa-heart"></i><i class="fa-solid fa-heart"></i></div>
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  a:visited {
    color: inherit; /* Utiliser la couleur héritée du parent */
  }

  

  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  //position du loader sur l'entiereter de la page
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* loader est en avant-plan */
    opacity: 1; /* Le loader-container est complètement visible au départ */
    animation: hideLoaderContainer 5s forwards; /* Animation pour masquer le loader-container après 5 secondes */
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 2s linear infinite;
  }
  
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid $primaire-color;
    animation: prixClipFix 2s linear infinite;
  }
  
  .loader::after {
    border-color: $secondaire-color;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
  }
  
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes prixClipFix {
    0% { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); } // form vectoriel 
    25% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
    50% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
    75% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
  }
  
  /* Animation pour masquer le loader-container après 5 secondes (délai de 3 secondes + durée de l'animation 2 secondes) */
  @keyframes hideLoaderContainer {
    0% { opacity: 1; } /* À 0%, le loader-container est complètement visible */
    60% { opacity: 1; } /* Maintenir l'opacité à 1 pendant les 3 premières secondes */
    100% { opacity: 0; pointer-events: none; } /* Réduit l'opacité à 0 et empêche les interactions avec le loader-container */
  }

