$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiare-color: #99E2D0;
$tertiare-color-font:#008766;

$backgroundBase: white;
$backgroundAdresse: #EAEAEA;
$backgroundSection:#F6F6F6;

$backgroundShadow: #00000059;

$backgroundFooter:#353535;